html{
    background-image: linear-gradient(to bottom right, #551A8B, #2f2f2f);
    /* height: 100%; */
    color: whitesmoke;
}
h1{
    padding-top: 0;
    font-family: 'Sumana', serif;
    font-size: 24px;
    text-align: center;
}

h4 {
    font-family: 'Sumana', serif;
    font-size: 13px;
}

li {
    font-family: 'Homenaje', sans-serif;
}

form{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
div.InfoAboutJob{
    border: solid black;
    height: 20rem;
    justify-content: space-evenly;
}
ul.app{
    list-style-type: none;
    position: relative;
}
ul.Requirements{
    float: left;
}
ul.Duties{
    float: right;
    padding-right: 2rem;
}
ul.Can{
    float: left;
}
ul.Cannot{
    float: right;
    padding-right: 3rem;
}
ul.Benefits{
    float: center;
    text-align: center;
}

tr {
    font-family: 'Homenaje', sans-serif; 
    font-size: 16px;
}