*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Name style */
header{
    display: flex;
    justify-content: center;
}

h1{
    display: inline-flex;
    justify-self: center;
    font-family: 'Sumana', serif;
    font-weight: lighter;
}

header div{
    width: 10px;
}

/* Nav styles */

nav{
    
}

/* Main content */


main h2{
    text-align: center
}

.socials{
    text-align: end;
    margin-right: 35px;
}
